<h1><%= @member.full_name() %></h1>

<div class="individual_member">
<hr>
  <p> Membership Type: <%= @member.membership_type %> </p>
<hr>
  <p>Classes attending:</p>

  <ul>
    <% @member.attending_classes.each do |gym_class| %>
    <li><%= gym_class.name %> -> <%= gym_class.class_time %></li>
    <% end %>
  </ul>
<hr>
<div class="individual_member_buttons">

  <form action="/members/<%= @member.id %>/edit" method="get">
    <input class="update_button" type="submit" value="Update Member Details">
  </form>

  <form action="/members/<%= @member.id %>/delete" method="post">
    <input class="delete_button" type="submit" value="Delete Member">
  </form>
</div>

</div>
