<h1>Book Member to Class</h1>

  <div class="new_reservation_form">
    <form action="/reservations" method="post">


      <div class="member">
        <label for="member">Select a Member:</label>
        <select name ="member_id" id="member">
          <% @members.each do |member| %>
            <option value="<%= member.id %>"><%= member.full_name() %> (<%= member.membership_type %>)</option>
          <% end %>
        </select>
      </div>


      <div class="gym_class">
        <label for="gym-class">Select a Class:</label>
        <select name="gym_class_id" id="gym-class">
          <% @classes.each do |gym_class| %>
            <% if gym_class.capacity_check == true %>
              <option value="<%= gym_class.id %>"><%= gym_class.name %> -> <%= gym_class.class_time.slice(0..4) %></option>
            <% else %>
              <option value="<%= gym_class.id %>" disabled><%= gym_class.name %> -> <%= gym_class.class_time.slice(0..4) %> - FULL!</option>
            <% end %>
          <% end %>
        </select>
      </div>

      <div class="submit">
        <input type="submit" value="Create new booking">
      </div>


    </form>
  </div>
