<h1>Daily Classes</h1>

<% @classes.each do |gym_class| %>
<div class="class_div">
  <details>
    <summary> <h3><%= gym_class.class_time.slice(0..4) %>: <%= gym_class.name %></h3> </summary>
  <p>Members attending (<%= gym_class.members_attending() %>/<%= gym_class.max_capacity %>):</p>

  <ul>
    <% gym_class.members.each do |member| %>
    <li><a href="/members/<%= member.id %>"><%= member.full_name() %></a></li>
    <% end %>
  </ul>

  <form action="/classes/<%= gym_class.id %>" method="get">
    <input class="details_button" type="submit" value="View More Details">
  </form>
</details>
</div>
<hr>
<% end %>
