<div class="individual_class">
  <h1><%= @class.name %></h1>
  <hr>
  <p>Class Start Time --> <%= @class.class_time.slice(0..4) %></p>
  <hr>
  <p>Instructor --> <%= @class.instructor %></p>
  <hr>
  <p>Maximum Capacity --> <%= @class.max_capacity %></p>
  <hr>

  <p>Members Attending:</p>

  <ul>
    <% @class.members.each do |member| %>
    <div class="name_and_remove">
      <li><%= member.full_name() %></li>
      <form action="/reservations/<%= @class.id %>/<%= member.id %>/delete" method="post">
        <input class="remove" type="submit" value="&times;">
      </form>
    </div>
    <% end %>
  </ul>

  <hr>

  <p class="info">Book Member into Class</p>

  <div class="book_member_info">
    <form action="/reservations" method="post">
      <!--Hidden input for passing through gym_class_id into the reservation  -->
      <input type="hidden" name="gym_class_id" value="<%= @class.id %>">

      <label for="member">Select a Member:</label>
      <select name="member_id" id="member" required>
        <!-- Capacity Check  -->
        <% if @class.capacity_check == false %>
          <option value="" selected disabled>This class is full!</option>
        <!-- Check there are members to be selected -->
        <% elsif @class.available_members.count() == 0 %>
          <option value="" selected disabled>No available members!</option>
        <!-- Check if the class is peak time, and pull either all members or only premium members not currently assigned to class -->
        <% else %>
          <% @class.available_members.each do |member| %>
            <option value="<%= member.id %>"><%= member.full_name() %></option>
          <% end %>
        <% end %>
      </select>

      <div class="book_member_button">
        <div class="submit">
          <input class="update_button" type="submit" value="Create new booking">
        </div>
      </form>
    </div>
  </div>

  <hr>

  <div class="individual_class_buttons">

    <form action="/classes/<%= @class.id%>/edit" method="get">
      <input class="update_button" type="submit" value="Update Class Details">
    </form>

    <form action="/reservations/<%= @class.id %>/delete" method="post">
      <input class="delete_button" type="submit" value="Remove All Reservations">
    </form>

    <form action="/classes/<%= @class.id %>/delete" method="post">
      <input class="delete_button" type="submit" value="Remove Class">
    </form>

  </div>
  <hr>
