<h1><%= @class.name %></h1>

<p>Class Start Time: <%= @class.class_time %></p>
<p>Instructor: <%= @class.instructor %></p>
<p>Description: <%= @class.description %></p>
<p>Maximum Capacity: <%= @class.max_capacity %></p>

<h3>Members Attending:</h3>

<ul>
  <% @class.members.each do |member| %>
  <li><%= member.full_name() %></li>
  <% end %>
</ul>
